/* roboto-300 - cyrillic-ext_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v30-cyrillic-ext_latin-300.eot'); /* IE9 Compat Modes */
  src: url('../fonts/roboto-v30-cyrillic-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v30-cyrillic-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v30-cyrillic-ext_latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v30-cyrillic-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v30-cyrillic-ext_latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - cyrillic-ext_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-cyrillic-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/roboto-v30-cyrillic-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v30-cyrillic-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v30-cyrillic-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v30-cyrillic-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v30-cyrillic-ext_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - cyrillic-ext_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v30-cyrillic-ext_latin-900.eot'); /* IE9 Compat Modes */
  src: url('../fonts/roboto-v30-cyrillic-ext_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v30-cyrillic-ext_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v30-cyrillic-ext_latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v30-cyrillic-ext_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v30-cyrillic-ext_latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}
html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}

.headWrapper{
    margin: 0 auto;
    position: absolute;
    width: 157.76px;
    height: 80px;
    left: 222px;
    top: 26px;
}

.head_menu{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #353535;
    height: 18px;
}

.menu0{
    position: absolute;
    width: 121px;
    /*height: 18px;*/
    left: 535px;
    top: 56px;
}

.menu1{
    position: absolute;
    width: 168px;
    /*height: 18px;*/
    left: 686px;
    top: 57px;
}

.polygon{
    position: absolute;
    width: 15px;
    height: 14.92px;
    left: 862px;
    top: 57px;
    /*background: #353535;*/
    /*transform: rotate(180deg);*/
}

.menu2{
    position: absolute;
    width: 72px;
    height: 18px;
    left: 905px;
    top: 57px;
}

.polygon_projects{
    position: absolute;
    width: 15px;
    height: 14.92px;
    left: 986px;
    top: 57px;
}

.menu3{
    position: absolute;
    width: 82px;
    height: 18px;
    left: 1028px;
    top: 57px;
}

.menu4{
    position: absolute;
    width: 80px;
    height: 18px;
    left: 1137px;
    top: 57px;
}

.menu5{
    position: absolute;
    width: 22px;
    height: 18px;
    left: 1336px;
    top: 57px;
}

.polygon_lang{
    position: absolute;
    width: 15px;
    height: 14.92px;
    left: 1368px;
    top: 57px;
}

.rect{
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 138px;
}

.title{
    position: absolute;
    width: 535px;
    height: 96px;
    left: 228px;
    top: 290px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100%;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px #05194E;
}

.descr_title{
    position: absolute;
    width: 500px;
    height: 50px;
    left: 235px;
    top: 404px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
}

.bg{
    position: absolute;
    width: 1600px;
    height: 3035px;
    left: 0px;
    top: 738px;
    background: #E5EAF5;
}

.what_are_we_doing{
    position: absolute;
    width: 1200px;
    height: 255px;
    left: 200px;
    top: 898px;
    background: #102A6D;
}

.what_we_doing_descr{
    position: absolute;
    width: 222px;
    height: 64.03px;
    left: 263px;
    top: 961px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
/* or 29px */
    color: #FFFFFF;
}

.desription{
    position: absolute;
    width: 700px;
    height: 130px;
    left: 581px;
    top: 951px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
/* or 17px */
    color: #FFFFFF;
}

span{
  font-weight: bold;
}

.underline-animation{

    font-weight: bold;
    display: inline-block;
    position: relative;
    color: #FFFFFF;
}

.underline-animation::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline-animation:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}